#jsm_iframe_preview{
	display:none;
}
.fa-select {
    font-family: sans-serif, 'FontAwesome';
    font-size:10px;
}
.jsm_select {
	vertical-align: top !important;
}	
.input-group-addon, .input-group-btn{
	width:0px;
}
.form-table th {
	width: 250px;
}
#TB_ajaxContent {
	width:96% !important;
	height:86% !important;
	overflow:scroll;
}
#TB_ajaxWindowTitle{
	text-align:center;
}
body {
	background:none;
}
h3{
	color: #0073AA;
    border-bottom: 1px #0073AA solid;
}